* {
    margin: 0;
    padding: 0;
    outline: none;
}

/*Variables*/


:root {
    --primary: #000;
    --secondary: #01FF66;
    --primary-50: #1d1d1d;
    --secondary-50: rgb(1 255 102 / 0.5);
    --primary-light: #eee;
    --secondary-light: #F9FFFB;
    --fontheading: aileron, sans-serif;
    --fontbody: hind-siliguri, sans-serif;
    --card-shadow: 1px 1px 8px rgba(0, 0, 0, 0.1);
}

/*Fonts*/

body {
    font-family: var(--fontbody);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--fontheading);
}

/*Text Utilities*/

h1 {
    font-size: 2.5rem;
    font-weight: 800;
}

h2 {
    font-size: 2.5rem;
    font-weight: 800;
}

h3 {
    font-size: 1.5rem;
    font-weight: 800;
}

h4 {
    font-size: 1.25rem;
    font-weight: 700;
}

h5 {
    font-size: 1.125rem;
    font-weight: 700;
}

h6 {
    font-size: 1rem;
    font-weight: 700;
}

p {
    font-size: 1rem;
    line-height: 1.5rem;
}

ul li,
ol li {
    font-size: 1rem;
    line-height: 1.75rem;
}

small {
    font-size: 0.875rem;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.text-nounder {
    text-decoration: none;
}

.text-capitalize {
    text-transform: capitalize !important;
}

.v-middle {
    vertical-align: middle;
}

.cursor-pointer {
    cursor: pointer;
}

.wordbreak {
    word-break: break-all;
}

.fs075 {
    font-size: 0.75rem;
}

.fs0875 {
    font-size: 0.875rem;
}

.fs09375 {
    font-size: 0.9375rem;
}

.fs1 {
    font-size: 1rem;
}

.fs1125 {
    font-size: 1.125rem;
}

.fs125 {
    font-size: 1.25rem;
}

.fs15 {
    font-size: 1.5rem;
}

.fs175 {
    font-size: 1.75rem;
}

.fs1875 {
    font-size: 1.875rem;
}

.fs2 {
    font-size: 2rem;
}

.fs225 {
    font-size: 2.25rem;
}

.fs25 {
    font-size: 2.5rem;
}

.fs4 {
    font-size: 4rem;
}

.fw500 {
    font-weight: 500;
}

.fw600 {
    font-weight: 600;
}

.fw700 {
    font-weight: 700;
}

.fw800 {
    font-weight: 800;
}

.fw900 {
    font-weight: 900;
}

.lh1 {
    line-height: 1rem;
}

.lh125 {
    line-height: 1.25rem;
}

.lh15 {
    line-height: 1.5rem;
}

.lh175 {
    line-height: 1.75rem;
}

.lh2 {
    line-height: 2rem;
}

.lh225 {
    line-height: 2.25rem;
}

/*Paddings*/

.p05 {
    padding: 0.5rem
}

.p075 {
    padding: 0.75rem
}

.p1 {
    padding: 1rem
}

.p125 {
    padding: 1.25rem
}

.p15 {
    padding: 1.5rem
}

.p2 {
    padding: 2rem
}

.p25 {
    padding: 2.5rem
}

.p3 {
    padding: 3rem
}

.p35 {
    padding: 3.5rem
}

.p4 {
    padding: 4rem
}

.p5 {
    padding: 5rem
}

.p6 {
    padding: 6rem
}

.p7 {
    padding: 7rem
}

.p8 {
    padding: 8rem
}

.p10 {
    padding: 10rem
}

.pt05 {
    padding-top: 0.5rem
}

.pt075 {
    padding-top: 0.75rem
}

.pt1 {
    padding-top: 1rem
}

.pt125 {
    padding-top: 1.25rem
}

.pt15 {
    padding-top: 1.5rem
}

.pt2 {
    padding-top: 2rem
}

.pt3 {
    padding-top: 3rem
}

.pt4 {
    padding-top: 4rem
}

.pt5 {
    padding-top: 5rem
}

.pb05 {
    padding-bottom: 0.5rem
}

.pb075 {
    padding-bottom: 0.75rem
}

.pb1 {
    padding-bottom: 1rem
}

.pb125 {
    padding-bottom: 1.25rem
}

.pb15 {
    padding-bottom: 1.5rem
}

.pb2 {
    padding-bottom: 2rem
}

.pb3 {
    padding-bottom: 3rem
}

.pb4 {
    padding-bottom: 4rem
}

.pb5 {
    padding-bottom: 5rem
}

.pl05 {
    padding-left: 0.5rem
}

.pl075 {
    padding-left: 0.75rem
}

.pl1 {
    padding-left: 1rem
}

.pl125 {
    padding-left: 1.25rem
}

.pl15 {
    padding-left: 1.5rem
}

.pl2 {
    padding-left: 2rem
}

.pl3 {
    padding-left: 3rem
}

.pl4 {
    padding-left: 4rem
}

.pl5 {
    padding-left: 5rem
}

.pr05 {
    padding-right: 0.5rem
}

.pr075 {
    padding-right: 0.75rem
}

.pr1 {
    padding-right: 1rem
}

.pr125 {
    padding-right: 1.25rem
}

.pr15 {
    padding-right: 1.5rem
}

.pr2 {
    padding-right: 2rem
}

.pr3 {
    padding-right: 3rem
}

.pr4 {
    padding-right: 4rem
}

.pr5 {
    padding-right: 5rem
}

/*Margins*/

.m05 {
    margin: 0.5rem
}

.m075 {
    margin: 0.75rem
}

.m1 {
    margin: 1rem
}

.m125 {
    margin: 1.25rem
}

.m15 {
    margin: 1.5rem
}

.m2 {
    margin: 2rem
}

.m25 {
    margin: 2.5rem
}

.m3 {
    margin: 3rem
}

.m35 {
    margin: 3.5rem
}

.m4 {
    margin: 4rem
}

.m5 {
    margin: 5rem
}

.m8 {
    margin: 8rem
}

.m10 {
    margin: 10rem
}

.mt05 {
    margin-top: 0.5rem
}

.mt075 {
    margin-top: 0.75rem
}

.mt1 {
    margin-top: 1rem
}

.mt125 {
    margin-top: 1.25rem
}

.mt15 {
    margin-top: 1.5rem
}

.mt2 {
    margin-top: 2rem
}

.mt3 {
    margin-top: 3rem
}

.mt4 {
    margin-top: 4rem
}

.mt5 {
    margin-top: 5rem
}

.mb05 {
    margin-bottom: 0.5rem
}

.mb075 {
    margin-bottom: 0.75rem
}

.mb1 {
    margin-bottom: 1rem
}

.mb125 {
    margin-bottom: 1.25rem
}

.mb15 {
    margin-bottom: 1.5rem
}

.mb2 {
    margin-bottom: 2rem
}

.mb3 {
    margin-bottom: 3rem
}

.mb4 {
    margin-bottom: 4rem
}

.mb5 {
    margin-bottom: 5rem
}

.ml05 {
    margin-left: 0.5rem
}

.ml075 {
    margin-left: 0.75rem
}

.ml1 {
    margin-left: 1rem
}

.ml125 {
    margin-left: 1.25rem
}

.ml15 {
    margin-left: 1.5rem
}

.ml2 {
    margin-left: 2rem
}

.ml3 {
    margin-left: 3rem
}

.ml4 {
    margin-left: 4rem
}

.ml5 {
    margin-left: 5rem
}

.mr05 {
    margin-right: 0.5rem
}

.mr075 {
    margin-right: 0.75rem
}

.mr1 {
    margin-right: 1rem
}

.mr125 {
    margin-right: 1.25rem
}

.mr15 {
    margin-right: 1.5rem
}

.mr2 {
    margin-right: 2rem
}

.mr3 {
    margin-right: 3rem
}

.mr4 {
    margin-right: 4rem
}

.mr5 {
    margin-right: 5rem
}

/*Colors*/

.c-primary {
    color: var(--primary);
}

.c-primary-50 {
    color: var(--primary-50);
}

.c-primary-20 {
    color: #b6b6b6;
}

.c-primary-light {
    color: var(--primary-light);
}

.c-secondary {
    color: var(--secondary);
}

.c-secondary-50 {
    color: var(--secondary-50);
}

.c-secondary-light {
    color: var(--secondary-light);
}

.c-white {
    color: #FFF;
}

.c-dark-grey {
    color: #979797;
}

.c-white-50 {
    color: rgba(255, 255, 255, 0.5);
}

.c-white-20 {
    color: rgba(255, 255, 255, 0.2);
}

.c-recipe-light {
    color: #7e63a2;
}

.c-quest-light {
    color: #8e6b40;
}

.c-ticker-light {
    color: #446f9e;
}

.c-red {
    color: #d80035;
}

.bg-primary {
    background-color: var(--primary);
}

.bg-primary-50 {
    background-color: var(--primary-50);
}

.bg-primary-light {
    background-color: var(--primary-light);
}

.bg-secondary {
    background-color: var(--secondary);
}

.bg-secondary-50 {
    background-color: var(--secondary-50);
}

.bg-secondary-light {
    background-color: var(--secondary-light);
}

.bg-white {
    background-color: #FFF;
}

.bg-white-50 {
    background-color: rgba(255, 255, 255, 0.5);
}

.bg-white-20 {
    background-color: rgba(255, 255, 255, 0.2);
}

.bg-light {
    background-color: #F9F9F9;
}

.bg-recipe {
    background-color: #ece0fd;
}

.bg-quest {
    background-color: #ffedd7;
}

.bg-ticker {
    background-color: #d6e7fa;
}

.bg-select {
    background-color: #e9ebff;
}

.bg-blog {
    background-color: #ecf5ff;
}

.bg-refer {
    background-color: #efefef;
}

.bg-red {
    background-color: #d80035;
}

.border-primary {
    border-color: var(--primary);
}

.border-primary-50 {
    border-color: var(--primary-50);
}

.border-primary-light {
    border-color: var(--primary-light);
}

.border-secondary {
    border-color: var(--secondary);
}

.border-secondary-50 {
    border-color: var(--secondary-50);
}

.border-secondary-light {
    border-color: var(--secondary-light);
}

.border-white {
    border-color: #FFF;
}

.border-white-50 {
    border-color: rgba(255, 255, 255, 0.5);
}

.border-white-20 {
    border-color: rgba(255, 255, 255, 0.2);
}

/*Borders*/

.br05 {
    border-radius: 0.5rem;
}

.br075 {
    border-radius: 0.75rem;
}

.br1 {
    border-radius: 1rem;
}

.br125 {
    border-radius: 1.25rem;
}

.br15 {
    border-radius: 1.5rem;
}

.br2 {
    border-radius: 2rem;
}

.br5 {
    border-radius: 5rem;
}

.br50 {
    border-radius: 50%;
}

.brb1 {
    border-radius: 0 0 1rem 1rem;
}

.btr075 {
    border-radius: 0.75rem 0.75rem 0 0;
}

.border0 {
    border: none;
}

.border1 {
    border-width: 1px;
    border-style: solid;
}

.border2 {
    border-width: 2px;
    border-style: solid;
}

.bordertop1 {
    border-top-width: 1px;
    border-top-style: solid;
}

/*Shadows*/

.card-shadow {
    box-shadow: var(--card-shadow);
}

/*Flex Utilities*/

.flex-container {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-center {
    justify-content: center;
}

.flex-end {
    justify-content: flex-end;
}

.flex-horizontal {
    flex-direction: row;
}

.flex-vertical {
    flex-direction: column;
}

.flex-evenly {
    justify-content: space-evenly;
}

.flex-between {
    justify-content: space-between;
}

.flex-around {
    justify-content: space-around;
}

.flex-align-start {
    align-items: flex-start;
}

.flex-align-end {
    align-items: flex-end;
}

.flex-align-center {
    align-items: center;
}

.flex-align-self-center {
    align-self: center;
}

.flex-grow {
    flex-grow: 1;
}

.order-0 {
    order: 0;
}

.order-1 {
    order: 1;
}

.order-2 {
    order: 2;
}

.order-3 {
    order: 3;
}

.order-4 {
    order: 4;
}

.order-5 {
    order: 5;
}

.order-6 {
    order: 6;
}

.order-7 {
    order: 7;
}

.col5 {
    width: 5%;
}

.col10 {
    width: 10%;
}

.col15 {
    width: 15%;
}

.col16 {
    width: 16.66%;
}

.col20 {
    width: 20%;
}

.col25 {
    width: 25%;
}

.col33 {
    width: 33.33%;
}

.col40 {
    width: 40%;
}

.col50 {
    width: 50%;
}

.col60 {
    width: 60%;
}

.col66 {
    width: 66.66%;
}

.col70 {
    width: 70%;
}

.col75 {
    width: 75%;
}

.col80 {
    width: 80%;
}

.col85 {
    width: 85%;
}

.col90 {
    width: 90%;
}

.col95 {
    width: 95%;
}

.col100 {
    width: 100%;
}

.h100 {
    height: 100%;
}

.h100auto {
    height: calc(100% - 40px - 4rem);
}

.logoh100 {
    height: 70%;
}

.mw100 {
    max-width: 100%;
}

.display-block {
    display: block;
}

.display-inline-block {
    display: inline-block;
}

.notice {
    position: fixed;
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    width: 20rem;
    min-height: 4.5rem;
    background-color: #FFF;
    border-radius: 0.5rem;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
    justify-content: space-between;
    padding: 1rem;
    align-items: center;
}

.notice img {
    width: 20%;
}

.notice div {
    width: 75%;
    padding-left: 1rem;
}

.notice p.heading {
    color: #01FF66;
    font-size: 0.75rem !important;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 0.125rem;
    line-height: 1;
}

.notice p.msg {
    color: #000;
    font-size: 0.9375rem !important;
    font-weight: 500;
    margin-bottom: 0.5rem;
    line-height: 1.25rem;
}

.notice a {
    background-color: #000;
    color: #fff;
    border-radius: 0.25rem;
    padding: 0.375rem 1rem;
    font-size: 0.875rem;
    text-decoration: none;
}

.notice.success p.heading {
    color: #01FF66;
}

.notice.error p.heading {
    color: #d80035;
}

.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 15rem;
    z-index: 1;
    margin-top: 1rem;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
    animation-duration: 0.2s;
    -webkit-animation-duration: 0.2s;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
    box-shadow: 0 20px 25px rgb(0 0 0 / 20%) !important;
}

.dropdown-content.show {
    display: block;
}

.dropdown-content a {
    display: block;
    padding: 0.75rem 1.5rem;
}

.dropdown-content a span {
    display: block;
    font-size: 1.125rem;
    width: 100%;
    font-weight: 600;
}

.dropdown-content a small {
    display: block;
    font-size: 0.875rem;
    width: 100%;
    padding-top: 0.25rem;
    color: #888;
}

.dropdown-content a:hover {
    background-color: #000;
    color: #fff !important;
}

.relative .dropdown-content.show {
    top: 2rem;
    right: 0;
}

.hero h1 {
    background: url(../image/highlight.svg) no-repeat center right 30%/23%
}

.choose {
    padding: 6rem 8%;
}

.whatsin .bg-white {
    min-height: 75%;
    margin-bottom: 2.5rem;
}

.finologyone .borderleft {
    border-left: solid 1px var(--primary-light);
    padding: 0 0 0 3rem;
    margin-top: 3rem;
    height: 80%;
}

.subscription .details ul li,
.subscription .free ul li,
.subscription .one ul li {
    padding: 0.5rem 2rem;
    list-style: none;
}

.subscription .details h3,
.subscription .free h3 {
    margin-bottom: 1.5rem;
}

.subscription .free ul li span,
.subscription .one ul li span {
    display: none;
}

.subscription .details ul li {
    border-bottom: solid 1px transparent;
}

.subscription .free ul li:not(:last-child) {
    border-bottom: solid 1px #F4F4F4;
}

.subscription .one ul li:not(:last-child) {
    border-bottom: solid 1px #242424;
}

.subscription .details {
    text-align: right;
}

.subscription .free {
    background-color: #FFF;
    padding: 3rem 0;
    border-radius: 1rem 0 0 1rem;
    box-shadow: var(--card-shadow);
    text-align: center;
}

.subscription .one {
    background-color: #000;
    padding: 5rem 0;
    border-radius: 1rem;
    color: #fff;
    text-align: center;
}

.testimonials .swiper-wrapper {
    margin-bottom: 5rem;
    margin-top: 2rem;
}

.testimonials .swiper-pagination-bullet {
    background-color: rgba(255, 255, 255, 0.8);
    width: 0.75rem;
    height: 0.75rem;
    margin: 0 0.5rem;
}

.testimonials .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: var(--secondary);
}

.accordion {
    padding: 1.75rem;
    border-bottom: solid 1px #ddd;
}

.accordion:last-of-type {
    border: none;
}

.accordion .acc-content {
    display: none
}

.accordion .acc-toggle:after {
    content: '+';
    float: right;
    width: 1rem;
}

.accordion .acc-toggle.show:after {
    content: '-';
    float: right;
}

.choose-item {
    border: solid 2px #FFF;
    position: relative;
}

.choose-item:after {
    content: url(../image/check-light.svg);
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.choose-item.active {
    border: solid 2px #000;
}

.choose-item.active:after {
    content: url(../image/check-black.svg);
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.contact .support-card:hover {
    background-color: #000;
    color: #fff;
}

.contact .support-card:hover a {
    color: #fff;
}

.contact .support-card:hover img {
    filter: saturate(0) brightness(1) invert(1);
}

.choose-message {
    display: none;
}

.teamcard {
    min-height: 34rem;
    position: relative;
}

.linkedinicon {
    position: absolute;
    width: 2.5rem;
    top: .5rem;
    right: .5rem;
}

.hamburger {
    display: none;
}

.login .bg-primary:first-child {
    min-height: 100vh;
}

.login>.bg-white:first-of-type {
    min-height: 100vh;
    text-align: center;
}

#frmLoginMobile,
#frmLoginPassword,
#frmSignup {
    min-width: 42%;
}

.navbar {
    height: 100vh;
    position: fixed;
    z-index: 999;
}

.dashboard {
    margin-left: 5%;
}

.relative {
    position: relative;
}

.onedashboard {
    min-height: 100vh;
}

table.transaction tr td {
    padding: 0.5rem !important;
}

.subscriptiondetails {
    height: 17rem;
    width: 30rem;
}

.navlink {
    width: 1.5rem;
    height: 1.5rem;
    margin: 1.5rem 0;
}

.navlink img {
    filter: invert(1);
    display: block;
}

.offercontent p,
.offercontent ul li,
.offercontent ol li,
.offercontent div {
    font-size: 1.125rem !important;
    line-height: 2rem;
}

.offercontent ul,
.offercontent ol,
.offercontent p {
    margin-bottom: 1rem !important;
}

.offercontent ul,
.offercontent ol {
    padding-left: 2.5rem;
}

.tooltipbox {
    position: relative;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    display: inline-flex;
}

.tooltipbox .tooltip {
    position: absolute;
    z-index: 100;
    left: 0;
    font-size: 1.125rem;
    font-weight: 500;
    background-color: #FFFFFF;
    color: #000;
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.tooltipbox .tooltip::before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    background-color: #FFFFFF;
    left: -3px;
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.tooltipbox:hover .tooltip {
    left: 150%;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.bg-recipe,
.bg-quest,
.bg-ticker,
.bg-select,
.dashboard-insider,
.bg-refer {
    position: relative;
}

.boxlogo {
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 2rem;
    height: 2rem;
}

textarea {
    font-family: var(--fontbody) !important;
    line-height: 1.5rem !important;
    padding: 1rem !important;
}

input[readonly],
input[disabled] {
    border: solid 2px #e3e3e3;
    background-color: #f2f2f2;
    user-select: none;
}

input:focus,
select:focus,
textarea:focus {
    box-shadow: 0 0 0px 4px rgb(0 0 0 / 15%)
}

input[readonly]:focus,
input[disabled]:focus {
    box-shadow: none;
}

.input-validation-error {
    border-color: #d80035 !important;
}

.field-validation-error {
    display: block;
    padding-top: 0.25rem;
}

.login h1 {
    font-size: 1.75rem;
}

.login .loginimg {
    width: 100%;
}

.publication {
    justify-content: center !important;
}

/*back to top css */

.back-to-top {
    background-color: #01FF66;
    text-decoration: none;
    cursor: pointer;
    width: 56px;
    height: 56px;
    z-index: 999;
    position: fixed;
    right: 32px;
    bottom: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    border-radius: 100%;
}

.back-to-top :hover {
    background-color: #01FF66;
}

.back-to-top :active {
    box-shadow: none;
    background-color: #01FF66;
}

svg.icon__arrow-up {
    /* fill: #01FF66;*/
    width: 32px;
    height: 32px;
}

.dashcardlong {
    min-height: 35rem;
}

.dashcardshort {
    min-height: 12rem;
}

.dashboardprofile input,
.dashboardprofile select {
    margin-right: 1rem !important;
}

.dashboardprofile .iti {
    margin-right: 1rem !important;
}

.dashboardprofile .iti input {
    width: 100%;
}

.cardbtn {
    position: absolute;
    bottom: 2.5rem;
}

/*modal css*/

/*.show {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 150px;
    height: 40px;
    margin-top: -20px;
    margin-left: -75px;
    background: #e74c3c;
    color: #fff;
    border-radius: 5px;
    border: 0;
    border-bottom: 2px solid #c0392b;
    cursor: pointer;
}*/

/*  .show:hover {
        background: #c0392b;
    }*/

.show:active {
    transform: scale(0.9);
}

.close {
    position: absolute;
    top: 0;
    right: 0;
    width: 35px;
    height: 30px;
    background: #000;
    color: #fff;
    cursor: pointer;
    border: 0;
    border-top-right-radius: 1rem;
}

.mask {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(69, 73, 94, 0.8);
    z-index: 50;
    visibility: hidden;
    opacity: 0;
    transition: 0.7s;
}

.modal {
    position: fixed;
    top: 30%;
    left: 48%;
    width: 455px;
    height: 330px;
    margin-left: -200px;
    margin-top: -150px;
    background: #FFF;
    z-index: 100;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s ease-out;
    transform: translateY(45px);
    border-radius: 1rem;
}

.active {
    visibility: visible;
    opacity: 1;
}

.active+.modal {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
}

.chatpopup {
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    height: auto;
    background: #fff;
    padding: 1rem;
    border-radius: 0.25rem;
}

.dashboard-insider {
    background-color: #f7e3e9;
}

/*Media Queries*/

/*Small Devices*/

@media (max-width: 600px) {
    .mm0 {
        margin: 0 !important;
    }
    .mmr0 {
        margin-right: 0 !important;
    }
    .mcol100 {
        width: 100% !important;
    }
    .mp0 {
        padding: 0 !important;
    }
    .mpl1 {
        padding-left: 1rem !important;
    }
    .mpr1 {
        padding-right: 1rem !important;
    }
    .navigation {
        padding: 0.75rem !important;
    }
    .navlinks {
        display: none;
    }
    .navlinks.show {
        width: 90%;
        min-height: 57vh;
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 1%;
        left: 2%;
        background: #FFF;
        justify-content: flex-start;
        box-shadow: 1px 1px 20px rgb(0 0 0 / 20%);
        border-radius: 0.5rem;
        padding-top: 1rem;
        -webkit-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
        transition-property: opacity, transform, -webkit-transform;
        -webkit-transform-origin: top right;
        transform-origin: top right;
        transform: scale(1);
        opacity: 1;
        padding: 0.75rem;
        z-index: 1;
    }
    .navlinks.show>a,
    .navlinks.show>div.dropdown {
        padding: 1rem;
        text-align: center;
    }
    .navlinks.show div.dropdown-content {
        box-shadow: none !important;
        min-width: auto !important;
        position: relative !important;
        font-size: 1rem !important;
        font-weight: 600 !important;
        margin-top: 0;
        text-align: center;
    }
    .navigation .logo img {
        width: 80%;
    }
    .navigation .logo {
        padding: 0.5rem 0 0 0.5rem;
    }
    .hamburger {
        display: flex;
        width: 3.5rem;
        height: 3.5rem;
        z-index: 99;
    }
    .hamburger img {
        width: 100%;
    }
    .hero {
        flex-direction: column;
    }
    .hero h1 {
        font-size: 2.5rem;
        padding: 0 1rem 1rem;
        background-size: 60%;
        background-position: 50% 95%;
    }
    .hero p {
        font-size: 1rem;
        line-height: 1.75rem;
        padding: 1.25rem 1rem 0;
    }
    .hero .actions {
        padding-top: 1rem;
        flex-direction: column
    }
    .hero .actions a.bg-primary {
        padding: 1rem 2.25rem;
        font-size: 1.25rem;
    }
    .hero .actions a.c-primary {
        padding: 1rem 0;
        font-size: 1rem;
        margin: 0;
    }
    .hero img {
        width: 85%;
        margin: 1.5rem auto 0;
    }
    .choose,
    .whatfinology,
    .whatsin,
    .finologyone,
    .subscription,
    .superhero,
    .accredited,
    .testimonials,
    .media,
    .faq {
        padding: 3rem 1rem;
    }
    .testimonials .col60 {
        width: auto !important;
    }
    .testimonials .col100.mt4 {
        margin-top: 1rem !important;
    }
    .sectionheading .col40,
    .sectionheading .col60 {
        width: 100%;
    }
    .sectionheading h2 {
        font-size: 1.5rem;
    }
    .sectionheading p {
        font-size: 1rem;
        margin-top: 1rem;
    }
    .choose .flex-evenly {
        flex-direction: column;
    }
    .choose .choose-item {
        display: flex;
        width: auto;
        align-items: center;
    }
    .choose .choose-item p {
        padding-top: 0;
        padding-left: 1rem;
        text-align: left;
    }
    .choose .choose-message {
        flex-direction: column;
        padding: 1rem 1rem 2rem;
        text-align: center;
    }
    .choose .choose-message div[class^="col"] {
        width: auto;
        padding: 1.5rem;
    }
    .choose .choose-message a {
        padding: 0.75rem 1.5rem;
        font-size: 1.125rem;
        margin-bottom: 1rem;
    }
    .whatfinology {
        flex-direction: column;
    }
    .whatfinology div[class^="col"] {
        width: auto;
    }
    /*.whatfinology div.col50 {order:2}
    .whatfinology div.col50.text-center {order:1}*/
    .whatsin>.flex-container {
        flex-direction: column;
    }
    .whatsin>.flex-container .col33 {
        width: auto;
    }
    .finologyone {
        flex-wrap: wrap;
    }
    .finologyone div[class^="col"] {
        width: auto;
    }
    .finologyone div.col10 {
        display: none;
    }
    .finologyone div.col70 {
        margin-top: 1rem;
        flex-direction: column;
    }
    .finologyone div.col40 {
        padding: 1rem 0 2rem 1rem;
    }
    .finologyone div.col60 {
        margin-top: 2rem;
        padding-top: 0;
    }
    .finologyone div.col75 a {
        padding: 1rem 2rem;
        font-size: 1.25rem;
        width: auto;
    }
    .subscription div.col25 {
        display: none;
    }
    .subscription div.col33 {
        width: 95%;
        margin: 0 auto;
    }
    .subscription .free ul li,
    .subscription .one ul li {
        display: flex;
        justify-content: space-between;
    }
    .subscription .free ul li span,
    .subscription .one ul li span {
        display: flex;
        font-weight: 400 !important;
    }
    .subscription .free {
        border-radius: 1rem;
        margin-bottom: 2rem;
    }
    .superhero div[class^="col"] {
        width: auto;
    }
    .superhero div.col16 {
        width: 50%;
        margin-bottom: 1rem;
    }
    .superhero div.col100:nth-of-type(2) {
        flex-wrap: wrap;
        padding: 0;
        margin-top: 3rem;
    }
    .accredited div[class^="col"] {
        width: auto;
    }
    .accredited div.col15,
    .accredited div.col10 {
        display: none;
    }
    .accredited div.col100:nth-of-type(2) {
        flex-wrap: wrap;
        padding: 0;
        margin-top: 2rem;
    }
    .accredited div.col33 {
        margin-bottom: 2rem;
    }
    .media div[class^="col"] {
        width: auto;
    }
    .media div.col25 {
        width: 45%;
        padding: 0;
        margin-bottom: 1.5rem !important;
    }
    .media div.col100.flex-container {
        padding: 0;
    }
    .howtoinvest {
        margin-top: 0;
        padding-top: 1rem !important;
    }
    .howtoinvest h1 {
        font-size: 2rem !important;
        padding-top: 0;
    }
    .howtoinvest .flex-container {
        flex-direction: column;
        flex-wrap: wrap;
    }
    .howtoinvest .col60 {
        order: 1;
        text-align: center;
    }
    .howtoinvest .col100.text-center:last-child {
        order: 2;
    }
    .howtoinvest .col100.text-center:last-child a {
        display: block;
        margin: 0 0 1.5rem 0;
    }
    .howtoinvest .mt2 {
        margin-top: 1rem !important;
    }
    .howtoinvest p.fs125,
    .howtoinvest p.fs1125 {
        font-size: 1rem !important;
        line-height: 1.75rem !important;
    }
    .howtoinvest p.fs15 {
        font-size: 1.125rem !important;
        line-height: 1.75rem !important;
    }
    .howtohero p.fs15 {
        font-size: 1.5rem !important;
    }
    .howtoinvest p.pr2,
    .howtoinvest p.pl2 {
        padding: 0 !important;
    }
    .howtoinvest div.pl2,
    .howtoinvest div.pr2 {
        padding: 0 !important;
    }
    .howtoinvest div[class^="col"],
    .faq div[class^="col"] {
        width: auto;
    }
    .faq .accordion {
        padding: 1rem;
        font-size: 1.125rem !important;
    }
    .faq .accordion a {
        font-size: 1.125rem !important;
    }
    .footer {
        padding: 2rem 1rem;
    }
    .footer .cta {
        flex-direction: column;
    }
    .footer .cta .col20 {
        width: 40%;
    }
    .footer .cta .col80 p {
        margin-bottom: 2rem;
    }
    .footer .cta div[class^="col"] {
        width: auto;
        padding: 0;
        text-align: center;
    }
    .footer .footercontent {
        flex-direction: column;
        margin-top: 2rem;
    }
    .footer .footercontent div[class^="col"] {
        width: auto;
        margin-bottom: 2rem;
    }
    .footer .footercontent div.col33 p {
        padding-right: 0;
    }
    .footer .footerlinks {
        flex-wrap: wrap;
    }
    .footer .footerlinks .col25 {
        min-width: 50%;
    }
    .footer .bordertop1 {
        margin: 1rem 0 !important;
    }
    .footer .bordertop1 p {
        margin-bottom: 2rem;
    }
    .col33 {
        width: auto;
    }
    .col20 {
        width: auto;
    }
    .col25 {
        width: auto;
    }
    .onehero {
        width: auto;
        padding: 1.4rem;
        padding-bottom: 3rem;
        padding-top: 3rem;
    }
    .onehero .col20,
    .onehero .col80,
    .onehero .col100 {
        width: auto;
    }
    .onehero .col100.mt3,
    .onehero .col80.mt3 {
        margin-top: 1.5rem;
    }
    .onehero a {
        display: block;
        margin-top: 1rem;
        margin-left: 0;
    }
    .onehero p {
        font-size: 1rem;
        line-height: 1.5rem;
        margin-bottom: 1.5rem;
    }
    .login .bg-primary:first-child {
        order: 1;
        min-height: 1vh;
    }
    .login .bg-primary {
        /* width: 100%;*/
    }
    .login .col50 {
        width: 100%;
        padding-left: 0.2rem;
        padding-bottom: 1rem;
    }
    .subscriptiondetails {
        margin: 0;
        min-height: auto;
        margin-bottom: 2rem;
        width: auto;
    }
    .login {
        flex-direction: column;
    }
    .bg-primary .col60 {
        width: 40%;
        padding: 1rem;
    }
    .navhome.show {
        min-height: 11rem;
    }
    .onehero .col80 p {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .oneroffering div.col50 img {
        width: 100% !important;
    }
    .flex-container .subscrip {
        flex-direction: column !important;
    }
    .chatbox {
        padding: 1.5rem 1rem !important;
        margin: 4rem 0.5rem 0 !important;
    }
    .chatbox h2 {
        font-size: 2rem;
    }
    .support {
        padding: 1rem !important;
    }
    .support .sectionheading {
        margin-top: 0 !important;
    }
    .support h1 {
        font-size: 2rem !important;
    }
    .support input {
        width: 80%;
    }
    .support .dashboardfaq {
        margin-top: 1rem !important;
        padding: 0 !important;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .support .dashboardfaq .col20 {
        width: 30%;
        margin: 0.5rem;
    }
    .support .dashboardfaq .col20 img {
        height: 45px;
    }
    .supportfaq {
        padding-top: 0;
        margin: 0;
    }
    .supportfaq .accordionFaq {
        margin-top: 0;
        width: 100% !important;
    }
    .dashboardsection {
        flex-direction: column;
        width: 100%;
    }
    .dashboardsection div.col33 {
        padding-top: 1rem;
    }
    .dashboardsection div.col50 {
        padding-top: 1rem;
        width: 100%;
        flex-direction: column;
        /*align-items:center;*/
        justify-content: center;
    }
    .dashboardsection div.col90 {
        width: 100%;
    }
    .dashboardsection div.col20 {
        padding: 0.1rem;
    }
    .dashboardsection div.col80 {
        width: 65%;
    }
    .dashboardsection div.col100 {
        margin-bottom: 0.2rem;
    }
    .dashboardsection div.col50 {
        margin-right: 0.2rem;
    }
    .dashboardsection div.col40 {
        width: 100%;
        margin-bottom: auto;
    }
    .dashboardsection div.mr2 {
        margin-right: 0;
    }
    .dashboardprofile {
        flex-direction: column;
        width: 100%;
        flex-wrap: wrap;
    }
    .dashboardprofile div.col60 {
        width: 100%;
    }
    .dashboardprofile div.col50 {
        width: 100%;
    }
    .dashboardprofile div.col20 {
        width: 100%;
    }
    .dashboardprofile div.col40 {
        width: 100%;
    }
    .dashboardprofile input,
    .dashboardprofile select {
        box-sizing: border-box !important;
        width: 100%;
        font-size: 1rem;
        padding: 1rem;
    }
    table.transaction {
        width: 100%;
    }
    table.transaction tr td {
        padding: 0.5rem !important;
    }
    .onebanner {
        flex-direction: column
    }
    .onebanner .col20 {
        width: 40%;
    }
    .onebanner .col80 p {
        margin-bottom: 2rem;
    }
    .onebanner div[class^="col"] {
        width: auto;
        padding: 0;
        text-align: center;
    }
    .navbar {
        width: 100%;
        flex-direction: row;
        justify-content: space-evenly;
        height: 4rem;
        bottom: 0;
    }
    .oneprofile {
        flex-direction: column;
    }
    /* .oneprofile div.col60{width:75%;}
    .oneprofile div.col40{width:75%;}*/
    .tooltipbox {
        display: block;
    }
    .tooltipbox .tooltip {
        position: relative;
        font-size: 0.6875rem !important;
        font-weight: 400;
        background-color: transparent;
        color: rgba(255, 255, 255, 0.5);
        border-radius: 0;
        box-shadow: none;
        opacity: 1;
        padding: 0;
        text-align: center;
        display: block;
        padding-top: 0.375rem;
    }
    .tooltipbox .tooltip::before {
        display: none;
    }
    .tooltipbox:hover .tooltip {
        left: auto;
        opacity: 1;
    }
    .dashboard {
        margin-left: 0;
        width: 100% !important;
    }
    .dashboardfaq {
        flex-direction: column;
    }
    .dashboardfaq div.col20 {
        width: auto;
    }
    .dashboardinner {
        padding: 1rem !important;
        width: 100%;
        padding-bottom: 8rem !important;
    }
    .topcta {
        padding: 1rem 1rem 2rem !important;
        margin-right: 0 !important;
    }
    .topcta p {
        font-size: 1rem;
    }
    .topcta .col10 {
        display: none;
    }
    .topcta .col90 {
        width: 100%;
    }
    .topcta.bg-white .col10 {
        display: block !important;
        width: 50%;
        padding-top: 2rem;
    }
    .topcta.bg-white a {
        display: block;
        width: 70%;
        margin: 1rem auto;
        text-align: center;
    }
    .topcta.bg-white .col90.pl2 {
        padding-left: 0 !important;
    }
    .dashcardlong,
    .dashcardshort {
        margin-right: 0 !important;
        min-height: auto;
        padding-bottom: 5rem;
    }
    .dashcardshort h3 {
        margin-bottom: 0.5rem !important;
    }
    .dashcardshort p {
        margin-bottom: 0.5rem !important;
    }
    .dashcardshort.bg-refer {
        padding-bottom: 7rem;
    }
    .cardbtn {
        left: 5% !important;
    }
    .cardbtn a:last-child {
        margin-left: 0.5rem !important;
    }
    .navlink {
        width: 16.66%;
        height: auto;
        text-decoration: none !important;
        outline: none !important;
        color: #fff !important;
    }
    .navlink img {
        filter: invert(1);
        display: block;
        width: 1.5rem;
        margin: 0 auto;
    }
    .books {
        flex-direction: column
    }
}

/*Medium Devices*/

@media (max-width: 1200px) {}

@keyframes fadeInUp {
    from {
        transform: translate3d(0, 20%, 0);
        visibility: visible;
    }
    to {
        transform: translate3d(0, 0, 0);
    }
}

@keyframes bounceIn {
    from,
    20%,
    40%,
    60%,
    80%,
    to {
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    0% {
        opacity: 0;
        transform: scale3d(0.3, 0.3, 0.3);
    }
    20% {
        transform: scale3d(1.1, 1.1, 1.1);
    }
    40% {
        transform: scale3d(0.9, 0.9, 0.9);
    }
    60% {
        opacity: 1;
        transform: scale3d(1.03, 1.03, 1.03);
    }
    80% {
        transform: scale3d(0.97, 0.97, 0.97);
    }
    to {
        opacity: 1;
        transform: scale3d(1, 1, 1);
    }
}

.bounceIn {
    animation-duration: 1s;
    animation-name: bounceIn;
}

svg#onelogin_stories-fingerprint:not(.animated) .animable {
    opacity: 0;
}

svg#onelogin_stories-fingerprint.animated #onelogin--background-simple--in-3 {
    animation: 1s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) fadeIn;
    animation-delay: 0s;
}

svg#onelogin_stories-fingerprint.animated #onelogin--Graphics--in-3 {
    animation: 1s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) lightSpeedRight;
    animation-delay: 0s;
}

svg#onelogin_stories-fingerprint.animated #onelogin--icon-3--in-3 {
    animation: 1s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) zoomOut;
    animation-delay: 0s;
}

svg#onelogin_stories-fingerprint.animated #onelogin--icon-2--in-3 {
    animation: 1s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) fadeIn;
    animation-delay: 0s;
}

svg#onelogin_stories-fingerprint.animated #onelogin--icon-1--in-3 {
    animation: 1s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) slideLeft;
    animation-delay: 0s;
}

svg#onelogin_stories-fingerprint.animated #onelogin--Fingerprint--in-3 {
    animation: 1s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) slideRight;
    animation-delay: 0s;
}

svg#onelogin_stories-fingerprint.animated #onelogin--Hand--in-3 {
    animation: 1s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) zoomIn;
    animation-delay: 0s;
}

svg#onesignup_stories-two-factor-authentication:not(.animated) .animable {
    opacity: 0;
}

svg#onesignup_stories-two-factor-authentication.animated #onesignup--background-simple--in-268 {
    animation: 1s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) zoomIn;
    animation-delay: 0s;
}

svg#onesignup_stories-two-factor-authentication.animated #onesignup--Graphics--in-268 {
    animation: 1s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) slideRight;
    animation-delay: 0s;
}

svg#onesignup_stories-two-factor-authentication.animated #onesignup--Arrows--in-268 {
    animation: 1s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) slideUp;
    animation-delay: 0s;
}

svg#onesignup_stories-two-factor-authentication.animated #onesignup--device-2--in-268 {
    animation: 1s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) slideLeft;
    animation-delay: 0s;
}

svg#onesignup_stories-two-factor-authentication.animated #onesignup--device-1--in-268 {
    animation: 1s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) slideRight;
    animation-delay: 0s;
}

svg#onesignup_stories-two-factor-authentication.animated #onesignup--Mug--in-268 {
    animation: 1s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) slideLeft;
    animation-delay: 0s;
}

svg#onesignup_stories-two-factor-authentication.animated #onesignup--right-hand--in-268 {
    animation: 1s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) lightSpeedLeft;
    animation-delay: 0s;
}

svg#onesignup_stories-two-factor-authentication.animated #onesignup--left-hand--in-268 {
    animation: 1s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) zoomOut;
    animation-delay: 0s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes lightSpeedRight {
    from {
        transform: translate3d(50%, 0, 0) skewX(-20deg);
        opacity: 0;
    }
    60% {
        transform: skewX(10deg);
        opacity: 1;
    }
    80% {
        transform: skewX(-2deg);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

@keyframes slideLeft {
    0% {
        opacity: 0;
        transform: translateX(-30px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideRight {
    0% {
        opacity: 0;
        transform: translateX(30px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes zoomIn {
    0% {
        opacity: 0;
        transform: scale(0.5);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes slideUp {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }
    100% {
        opacity: 1;
        transform: inherit;
    }
}

@keyframes lightSpeedLeft {
    from {
        transform: translate3d(-50%, 0, 0) skewX(20deg);
        opacity: 0;
    }
    60% {
        transform: skewX(-10deg);
        opacity: 1;
    }
    80% {
        transform: skewX(2deg);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

@keyframes zoomOut {
    0% {
        opacity: 0;
        transform: scale(1.5);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}